<div id="chat-container">
    <div class="chat-messages">
        <div style="text-align:center">
            Analyzing your data...<br>
            <div class="lds-dual-ring"></div>
        </div>
    </div>
    <div class="chat-input">
        <input type="text" placeholder="Get insights on your health data..." disabled style="min-height: 18px;max-height: 216px; height: 24px;">
        <button type="button" disabled class="fa-regular fa-paper-plane"></button>
    </div>
</div>
<script src="/static/js/chat.js"></script>