<a href="#sleep" class="toggle text-xl">
    {{include "dashboard/arrow"}} Sleep
</a>
</div>
<div id="sleep" class="toggle-content is-visible">
    <div id="sleep-efficiency" class="box-wrapper">
        <div class="box">
        {{.sleepEfficiencyChart}}
        </div>
        <div class="box">
        {{md2html .sleepEfficiencyDescription}}
        </div>
    </div>

    <div id="sleep-efficiency" class="box-wrapper">
        <div class="box">
            {{.sleepAggregatedChart}}
        </div>
        <div class="box">
            {{md2html .sleepAggregatedDescription}}
        </div>
    </div>
</div>
