<div class="{{if .isLoggedIn }}top-header{{else}}w-full{{ end }}" style="margin-top:3em">
    <ul class="flex flex-row justify-center items-center gap-2" style="list-style:none; padding-left:0">
        <li><a href="https://twitter.com/fitsleepinsight" target="_blank" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl" style="color:#fff">Twitter</a></li>
        <li><a href="/contact" target="_self" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl" style="color:#fff">Contact</a></li>
    </ul>
    <div class="flex flex-col justify-center items-center gap-2">
        <p class="px-2 py-0.5 rounded-md outline-none text-center mt-3 text-xs">FitSleepInsights © {{ year }} All rights reserved.</p>
        <a href="/privacy" class="hover:underline outline-none"><span class="text-xs">Terms &amp; Privacy</span></a>
    </div>
</div>
