<div class="w-full flex flex-col items-center justify-center z-10 top-0 left-0 min-h-full w-full overflow-y-auto">
    <div class="z-10 w-full">
        <div class="flex flex-col items-center gap-y-8 justify-center w-full px-2 pt-10 pb-5 md:px-4 lg:px-6">
            <ul class="flex flex-row justify-center -mt-5 sm:mt-3 lg:mt-0 md:gap-x-3 md:gap-y-2">
                <li><a href="https://facebook.com/ID" target="_blank" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl" style="color:#fff">Facebook</a></li>
                <li><a href="https://twitter.com/ID" target="_blank" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl" style="color:#fff">Twitter</a></li>
                <li><a href="/contact" target="_self" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl" style="color:#fff">Contact</a></li>
            </ul>
            <div class="flex flex-col justify-center items-center gap-2">
                <p class="px-2 py-0.5 rounded-md outline-none text-center mt-3 text-xs">FitSleepInsights © {{ year }} All rights reserved.</p>
                <a href="/privacy" class="hover:underline outline-none"><span class="text-xs">Terms &amp; Privacy</span></a>
            </div>
        </div>
    </div>
</div>
