<header class="top-0 left-0 w-full z-10 bg-transparent" style="color: rgb(255, 255, 255);" dir="ltr">
<div class="px-4 py-4 flex items-center justify-between relative lg:px-6">
    <a href="/">
        <h3 class="bg-transparent font-bold text-xl lg:text-2xl xl:text-3xl">FitSleepInsights</h3>
    </a>
    <nav class="absolute right-5 top-3 px-2 py-1 flex justify-center items-center rounded-md bg-black bg-opacity-30 md:bg-transparent md:relative md:px-0 md:py-0 md:right-0 md:top-0">
        <button class="text-white text-xl md:hidden block" data-menutoggle="header1" data-menuexpanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6">
                <path fill-rule="evenodd" d="M3 9a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 9zm0 6.75a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
            </svg>
        </button>
        <ul class="list-none hidden flex-col items-center gap-y-1 gap-x-2 group md:flex md:flex-row md:gap-x-4 md:gap-y-0 md:items-center md:justify-center" style="list-style:none" data-menutogglemenu="header1">
            <li><a href="pricing1" target="_self" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl">Pricing</a></li>
            {{ if .isLoggedIn }}
                <li><a href="/logout" target="_self" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl">Log out</a></li>
            {{ else }}
                <li><a href="/login" target="_self" rel="noopener noreferrer" class="font-medium rounded-md text-lg lg:text-xl">Log in</a></li>
            {{ end}}
        </ul>
    </nav>
</div>
</header>
