{{define "head"}}
<style>
h1,h2,h3,h6,p {
    margin: revert;
    font-size: revert;
    font-weight: revert;
}

</style>
{{end}}

{{define "content"}}
<h1>FitSleepInsights - Contact Us</h1>
<p>We appreciate you reaching out! Here are a few ways to get in touch with us:</p>

<h2>Email</h2>
<p>For any questions or feedback, feel free to send us an email at <a href="mailto:nessuno+fitsleepinsights@nerdz.eu">nessuno+fitsleepinsights[at]nerdz[dot]eu</a>. We aim to respond to all emails within 24 business hours.</p>

<h2>Social Media</h2>
<p>
    <ul>
        <li>Follow us on Twitter (<a href="https://twitter.com/fitsleepinsight">@fitsleepinsight</a>) for updates on the platform.</li>
    </ul>
</p>

<p><strong>We value your privacy.</strong> Please refer to our <a href="/privacy">Privacy Policy</a> for
    details on how we collect and use your information.</p>
{{end}}